

.overskrift{
	position: absolute; top: 40%; left: 35%;


}

.topnav {
    background-color: rgba(48, 16, 125, 0.9 );
    overflow: hidden;
    position: fixed;
    width: 98%;
    z-index: 1;


}


.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: 1px solid white;

}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}


.topnav a.active {

    background-color: rgba(55, 1, 181, 0.9);
    color: white;


}

.bakgrunn{
	background: url(bakgrunn3.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	border: solid white;
	border-top-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
	height: 750px;
}
 
.box{
	color: white;
	border: solid;
	border-color: white;
	height: 850px;
 	width: cover;
 	border-left-color: transparent;
 	border-right-color: transparent;
}

.textposisjon{
	border:solid;
	padding: 10px;
	position: absolute; left: 5%; right: 60%

	
	
}

.logo{
	height: 60%;
	position: absolute; right: 25%; top: 110%;
}

@media (max-width: 1350px){


.overskrift{
	position: absolute; top: 40%; left: 35%;


}

.topnav {
    background-color: rgba(48, 16, 125, 0.9 );
    overflow: hidden;
    position: fixed;
    width: 98%;
    z-index: 1;
}


.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;


}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}


.topnav a.active {

    background-color: rgba(55, 1, 181, 0.9);
    color: white;


}

.bakgrunn{
	background: url(bakgrunn3.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	border: solid white;
	height: 550px;
	border-top-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
}
.textposisjon{
	border:solid;
	padding: 10px;
	position: absolute; left: 5%; right: 50%

	
	
}

.logo{
	height: 60%;
	position: absolute; right: 15%; top: 85%;
}
 
}

@media(max-width: 1000px){
.overskrift{
	position: absolute; top: 40%; left: 35%;


}

.topnav {
    background-color: rgba(48, 16, 125, 0.9 );
    overflow: hidden;
    position: fixed;
    width: 98%;
    z-index: 1;
}


.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;


}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}


.topnav a.active {

    background-color: rgba(55, 1, 181, 0.9);
    color: white;


}

.bakgrunn{
	background: url(bakgrunn3.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	border: solid white;
	height: 500px;
	border-top-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;

}

 .textposisjon{
	border:solid;
	padding: 10px;
	position: absolute; left: 1%; right: 40%

	
	
}

.logo{
	height: 40%;
	position: absolute; right: 10%; top: 90%;
}

}

@media(max-width: 900px){
.overskrift{
	position: absolute; top: 40%; left: 35%;


}

.topnav {
    background-color: rgba(48, 16, 125, 0.9 );
    overflow: hidden;
    position: fixed; top: 1%;
    width: 98%;
    z-index: 1;

}


.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;



}


.topnav a:hover {
    background-color: #ddd;
    color: black;

}


.topnav a.active {

    background-color: rgba(55, 1, 181, 0.9);
    color: white;
    

}

.bakgrunn{
	background: url(bakgrunn3.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	border: solid white;
	height: 350px;
	margin-top: 50px;
	border-top-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
}
 .textposisjon{
	border:solid;
	padding: 10px;
	position: absolute; left: 1%; right: 28%;

	
	
}

.logo{
	height: 35%;
	position: absolute; right: 0%; top: 60%;
	z-index: -2;
}
 

}

@media(max-width: 600px){
.overskrift{
	position: absolute; top: 40%; left: 35%;


}

.topnav {
    background-color: rgba(48, 16, 125, 0.9 );
    overflow: hidden;
    position: fixed; top: 1%;
    width: 98%;
    z-index: 1;
}


.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;


}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}


.topnav a.active {

    background-color: rgba(55, 1, 181, 0.9);
    color: white;


}

.bakgrunn{
	background: url(bakgrunn3.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	border: solid white;
	height: 200px;
	margin-top: 70px;
	border-top-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
}

.textposisjon{
	border:solid;
	padding: 10px;
	position: absolute; left: 1%; right: 1%;
	font-size: 15px;

	
	
}

.logo{
	height: 0%;
	position: absolute; right: 0%; top: 60%;
	z-index: -2;
}
 

}
