body {
	margin: auto;
	padding: auto;
}

.bakgrunn{
	background: url(background.jpg);
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	position: absolute;
	overflow: scroll;
}

.tekststil{
	background-color: grey;
	border: solid;
	border-color: darkred;
	width: 50%;
	text-align: center;
	position: absolute; left: 25%;
	overflow: scroll;

}

